@model FribergCarRentals.ViewModel.LoginVM
@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center align-items-center" style="margin-top: 10em; margin-bottom: 2em;">
    <h2>Sign in:</h2>
</div>
<div class="d-flex justify-content-center align-items-center">
    <form asp-action="Login" method="post" class="col-md-6 col-lg-4">
        @Html.AntiForgeryToken() <!-- Anti forgery token skapad -->
        <!-- ValidationSummary sammaställer errors som är sparat i viewmodelen och visar dem , första parametern är om man ska inkludera field specific errors, andra parametern är en heading för errors typ "Login failed" -->
        <div class="text-danger">
            @Html.ValidationSummary(false, "")
        </div>
        <!-- Email input -->
        <div class="form-outline mb-6">
            <input asp-for="Email" type="email" id="formEmailInput" class="form-control" />
            <label class="form-label" for="formEmailInput">Email address</label>
            
        </div>

        <!-- Password input -->
        <div class="form-outline mb-6">
            <input asp-for="Password" type="password" id="formPasswordInput" class="form-control" />
            <label class="form-label" for="formPasswordInput">Password</label>
            
        </div>

        <!-- Remember me checkbox and Forgot password link -->
        <div class="row mb-4">
            <div class="col d-flex align-items-center justify-content-center">
                <div class="form-check form-check-inline">
                    <input asp-for="RememberMe" type="checkbox" id="rememberMeCheck" />
                    <label class="form-check-label" for="rememberMeCheck">Remember me</label>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
        </div>
    </form>
</div>




